
body {
    background-image: url(/imgs/golfcourse.jpeg);
    background-color: rgb(130, 151, 98);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1 {
    text-align: center;
    padding-top: 130px;
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 70px;
    text-shadow: 2px 2px 0px yellow;
}

h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow;
}

h5 {
    display: none;
    padding-top: 130px;    
    text-align: center;
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow;
}

#character-title {
    display: none;  
}

#begin {
    display: none;
    padding-top: 30px;
    font-family: 'Courgette', cursive;
    color: red;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow;
    /* animation: fadeInAnimation ease 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;     */
}

.wrapper {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
  
.box {
    border-radius: 5px;
    padding: 5px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .f {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .g {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }


#character-grid {
    display: none;
    text-align: center;
    padding-top: 30px;
    max-width: 700px;
    /* max-width: 700px; */
    /* width: 100; */
    /* font-family: 'Courgette', cursive;
    color: red;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow; */
    /* animation: fadeInAnimation ease 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;     */


}


img {
    border-radius: 20%;
    padding: 0px
  }

#welcome-gopher-1 {
    position: absolute;
    bottom: -340px;
    left: 50px;
    z-index: 2;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#welcome-gopher-2 {
    position: absolute;
    bottom: -340px;
    right: -100px;
    z-index: 2;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 2.5s;   
    animation-iteration-count: infinite;
}


#welcome-gopher-3 {
    position: absolute;
    bottom: -340px;
    right: 200px;
    z-index: 5;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

#welcome-gopher-4 {
    position: absolute;
    bottom: -340px;
    left: 300px;
    z-index: 6;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 3.5s;
    animation-iteration-count: infinite;
}


#welcome-al {
    position: absolute;
    bottom: -340px;
    right: 150px;
    z-index: 7;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 7s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}

#welcome-ty {
    position: absolute;
    bottom: -340px;
    left: 150px;
    z-index: 7;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 9s;
    animation-delay: 13s;
    animation-iteration-count: infinite;
}











@keyframes slide-in {

    0% {

        transform: translateY(0px);
      }
      100% {

        transform: translateY(-300px);
      }




    100% {left: 50; }
    /* 100% {bottom: -10; } */
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}









html, body {
    height: 100%;
}

span {
    text-decoration: line-through;
}






