
body {
    background-image: url(/imgs/golfcourse.jpeg);
    background-color: rgb(130, 151, 98);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}




span {
    text-decoration: line-through;
}






h1 {
    text-align: center;
    padding-top: 130px;
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 70px;
    text-shadow: 2px 2px 0px yellow;
}

h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow;
}

#character-title {
    display: none;  
    text-align: center;
}












#enter-name {
    text-align: center;
}


#name-title {
    padding-top: 30px;
    display: none;  
}

#player-name {
    display: none;
}


#begin {
    display: none;  
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}








/* 
#player-name, #enter-name-title {
    display: none;
    text-align: center;
} */


/* 
#begin {
    display: none;
    padding-top: 30px;
    font-family: 'Courgette', cursive;
    color: red;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 0px yellow;
} */




.wrapper-character-select {
    display: grid;
    grid-auto-columns: 125px;
    grid-gap: 10px;
  }
  
.box {
    border-radius: 5px;
    padding: 5px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .d {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .f {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .g {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .h {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }


#character-grid {
    display: none;
    text-align: center;
    padding-top: 30px;
}


img {
    border-radius: 20%;
    padding: 0px
  }

#welcome-gopher-1 {
    position: absolute;
    bottom: -340px;
    left: 50px;
    z-index: 2;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

#welcome-gopher-2 {
    position: absolute;
    bottom: -340px;
    right: -100px;
    z-index: 2;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 2.5s;   
    animation-iteration-count: infinite;
}


#welcome-gopher-3 {
    position: absolute;
    bottom: -340px;
    right: 200px;
    z-index: 5;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}

#welcome-gopher-4 {
    position: absolute;
    bottom: -340px;
    left: 300px;
    z-index: 6;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 3s;
    animation-delay: 3.5s;
    animation-iteration-count: infinite;
}


#welcome-al {
    position: absolute;
    bottom: -340px;
    right: 150px;
    z-index: 7;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 7s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}

#welcome-ty {
    position: absolute;
    bottom: -340px;
    left: 150px;
    z-index: 7;    
    width: 600px;
    height: 330px;
    overflow: hidden;
    animation: slide-in ease 9s;
    animation-delay: 13s;
    animation-iteration-count: infinite;
}











@keyframes slide-in {

    0% {

        transform: translateY(0px);
      }
      100% {

        transform: translateY(-300px);
      }




    100% {left: 50; }
    /* 100% {bottom: -10; } */
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}










/* 
#screen-3 {


    display: none; 

}
 */






.game-screen {
    display: none;
    padding-top: 50px;
    /* display: grid; */



    grid-gap: 10px;
}


 #player-box {
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
}


#player-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#game-box {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 

}




#gopher-box {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 
}

#gopher-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#game-controls {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;



}





#time-remaining-bar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





.wrapper-field-grid {
    display: grid;

    /* grid-auto-columns: auto;
    grid-auto-rows: auto; */
    /* grid-auto-columns: 125px; */
    grid-gap: 10px;
  } 



#r1c1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#r1c2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#r1c3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#r1c4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}





#r2c1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#r2c2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#r2c3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

#r2c4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}




#r3c1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#r3c2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

#r3c3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

#r3c4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}
 





#r4c1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#r4c2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#r4c3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

#r4c4 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
} 


